<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/dl.jpeg" alt="dea" class="img-thumbnail rounded-circle" height="300" width="200">
            <h1 class="display-4">Dea Lestari</h1>
            <p class="lead">Mahasiswa | Teknik Informatika</p>
        </div>
    </div>
</div>